:root {
  /* Colors */
  --dark-grey: hsl(220, 5%, 15%);
  --grey: hsl(220, 5%, 30%);
  --light-grey: hsl(220, 5%, 45%);
  --color-1: hsl(220, 40%, 30%);
  --color-1-bis: hsl(220, 10%, 30%);
  --color-2: hsl(50, 50%, 35%);
  --color-3: hsl(20, 50%, 35%);


  scroll-behavior: smooth;
  background-color: var(--dark-grey);
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

:root::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: var(--dark-grey);
}

:root::-webkit-scrollbar-thumb {
	border-radius: 5px;
    background-color: hsl(0, 0%, 50%);
}

.app {
  margin-left: 50px;
  margin-right: 50px;
}

.select-instrument {
  background-color: var(--grey);
  border-radius: 50px;
  width: 150px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
  display: flex;
}

.select-instrument > div {
  margin: auto;
}

.select-items {
  background-color: var(--grey);
  border-radius: 10px;
  box-shadow: 1px 2px 7px var(--dark-grey);
  position: absolute;
  top: 0;
  margin: 10px;
  width: 150px;
  cursor: pointer;
  flex-direction: column;
  overflow: hidden;
}

.select-items > div {
  display: flex;
}

.select-items > div:hover {
  background-color: hsl(from var(--grey) h s calc(l + .1));
}

.select-items > div > div {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.chord-keyboard {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.chord-section {
  display: flex;
  flex-direction: column;
}

.section-name {
  color: var(--light-grey);
  font-weight: 600;
  text-align: center;
}

.chord-button-wrapper {
  margin: 20px;
  display: flex;
}

.chord-button-wrapper.row:hover .chord-hover.row {
  display: flex;
}

.chord-button-wrapper.column:hover .chord-hover.column {
  display: flex;
}

.chord-button {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  /*box-shadow: 1px 2px 3px black;*/
  transition: transform 100ms;
  cursor: pointer;
  display: flex;
}

.chord-button:hover {
  transform: scale(1.05);
}

.chord-button > div {
  margin: auto;
  text-align: center;
}

.chord-hover {
  display: none;
  position: absolute;
  cursor: auto;
}

.chord-hover.row {
  transform: translate(50px, -10px);
}

.chord-hover.column {
  transform: translate(-10px, 50px);
}

.chord-hover > div {
  background-color: hsl(from var(--light-grey) h s l / 60%);
  border-radius: 10px;
  box-shadow: 1px 2px 7px var(--dark-grey);
  display: flex;
}

.chord-hover.row > div {
  margin-left: 20px;
}

.chord-hover.column > div {
  margin-top: 20px;
}

.chord-hover.column > div {
  flex-direction: column;
}

.chord-hover .chord-button-wrapper {
  margin: 10px;
}